
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,700;1,300;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,400;1,300;1,700&display=swap');

* {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}

.containerForm {
    display: block;
    width: 80%;
    height: auto;
    position: relative;
    margin: 20px auto;
    padding: 20px;
}

.containerForm h1 {
    font-size: 25px;
}

.containerForm h3 {
    padding: 10px 0px;
}

.col {
    display: inline-block;
    margin-left: 0.16%;
    margin-right: 0.16%;
}

.w1 {width: 8%;}
.w2 {width: 16.32%;}
.w3 {width: 24.48%;}
.w4 {width: 32.64%;}
.w5 {width: 40.80%;}
.w6 {width: 48.96%;}
.w7 {width: 56.12%;}
.w8 {width: 64%;}
.w9 {width: 72%;}
.w10 {width: 80%;}
.w11 {width: 88%;}
.w12 {width: 96%;}

.containerForm input {
    width: 100%;
    height: 25px;
    font-size: 16px;
}
















.right {
  float: right;
}

.left {
  float: left;
}

.p5t {
  padding-top: 7px;
}

.b5r:hover {
  border-radius: 25px;
}

.textCenter {
  text-align: center;
}

div.compromissos h2,
div.tarefas h2 {
  padding-bottom: 6px;
}

.resumo {
  display: inline-block;
  width: 98%;
  padding: 2%;
  text-align: center;
}

.dInformation {
  position: relative;
  width: 30%;
  height: auto;
  background-color: rgb(194, 9, 9);
  margin: 10px auto;
  border-radius: 10px;
  border: 1px solid rgb(235, 70, 70);
  box-shadow: 0 0 0.5em #000;
  text-align: center;
  color: rgb(0, 0, 0);
  padding: 5px;
}

.dInformation i {
  line-height: 39px;
}

.tarefas,
.compromissos {
  display: inline-block;
  width: 45%;
  padding: 2%;
  overflow: hidden;
}

.compromissos {
  float: right;
}

.container {
  display: block;
  width: 100%;
} 

nav {
  width: 98%;
  height: 47px;
  padding: 0px 1%;
  background-color: rgb(194, 9, 9);
}

.copyright,
.suporte,
.marca {
  display: inline-block;
  width: 33%;
  color: rgb(255, 255, 255);
}

.copyright {
  font-size: 12px;
}

.suporte {
  text-align: center;
  font-size: 14px;
}

.marca {
  text-align: right;
  font-size: 14px;
}

.fieldInput{
  margin-bottom: 15px;
}

input, select, textarea{
  width: 99%;
  border:1px solid rgb(85, 79, 79);
  height: 30px;
  border-radius: 4px;
  box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.34);
  text-indent: 10px;
}


footer{
  width: 98%;
  max-height: 25px;
  background-color: rgb(194, 9, 9);
  padding: 4px 1%;
  bottom:0;
}

footer div.suporte i{
  color: rgb(103, 196, 115);
}

footer div a{
  text-decoration: none;
  color: rgb(255, 255, 255);
}



nav .logo {
  width: 35px;
  height: 35px;
  position: absolute;
  left: 50%;
  top: 6px;
  margin-left: -18px;
}

.logo {
  padding: 4px;
}

.logo i {
  color: #fff;
}

nav ul li {
  display: inline-block;
}

.menu {
  float: left;
}

td {
  background-color: rgb(194, 9, 9);
  color: rgb(73, 196, 17);
}


.resumo {
  display: block;
  width: 98%;
  height: 230px;
  padding: 1%;
}

.clientes,
.novosCadastros,
.reunioes {
  display: inline-block;
  width: 29%;
  padding: 1%;
}
.tarefas ul li{
  list-style: none;
}

.tarefas{
margin-top: 10px;
  margin-left: 10px;
border-radius: 10px 20px;
}

.compromissos{
  
margin-top: 10px;
margin-left: 10px;
border-radius: 10px 20px;
}


ul li a {
  display: block;
  color: #fff;
  text-decoration: none;
  line-height: 15px;
  font-size: 16px;
  font-weight: 400;
  transition: 0s;
  text-align: center;
  padding: 6px 6px;
}

ul li a span,
ul li a i {
  display: block;
}

ul li a i {
  font-size: 20px;
}

ul li a:hover {
  background-color: rgb(255, 255, 255);
  color: rgb(194, 9, 9);
  transition: 0.3s ease-in-out;
}

.personalData {
  padding-right: 10px;
}

.personalData span,
.personalData small {
  display: block;
  color: #fff;
  text-align: right;
  text-align: center;
}

.col{
    display: inline-block;
    margin-left: 0,5%;
    margin-left: 0.16%;
}

.button{
  align-items: center;
  background-color: rgb(194, 9, 9);
  border: 2px solid rgb(255, 255, 255);
  border-radius: 8px;
  box-sizing: border-box;
  color: rgb(255, 255, 255);
  cursor: pointer;
  display: flex;
  font-family: Inter,sans-serif;
  font-size: 16px;
  height: 48px;
  justify-content: center;
  line-height: 24px;
  max-width: 100%;
  padding: 5px 25px;
  position: relative;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button:after {
  background-color: #111;
  border-radius: 8px;
  content: "";
  display: block;
  height: 48px;
  left: 0;
  width: 100%;
  position: absolute;
  top: -2px;
  transform: translate(8px, 8px);
  transition: transform .2s ease-out;
  z-index: -1;
}

.button:hover:after {
  transform: translate(0, 0);
}

.button:active {
  background-color: rgb(194, 9, 9);
  outline: 0;
}

.button:hover {
  outline: 0;
}

.obs{
  /* width: 1267px; */
width: 100%;
resize: none;
height: 59px;
}