@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300');

* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

nav ul li {
    display: inline-block;
}

body {
    margin-bottom: 50px;
}

nav {
    padding-left: 20px;
    background-color: #054a72;
}

footer {
    width: 100%;
    height: 40px;
    position: fixed;
    padding: 4px 0;
    bottom: 0;
    background-color: #054a72;
}

h4, button {
    text-align: center;
    padding: 5px;
}


ul li{
    display: inline-block;
}

ul {
    position: absolute;
    left: 50%;
    margin-left: -36px;
    margin-top: -50px;
}

ul li a{
    display: block;
    color: #000;
    text-decoration: none;
    line-height: 12px;
    padding: 10px;
    font-size: 20px;
    transition: 0.3s;
    text-align: center;
}

ul li a:hover{
    color: rgb(4, 66, 182);
    transition: 0.3s;
}

ul li a i{
    font-size: 20px;
}

nav .logo {
    width: 25px;
    height: 50px;
    display: inline;
    padding-top: 5px;
}

button {
    padding: 2px;
    border: none;
    width: 60px;
    height: 30px;
    background-color: #07324b;
    color: #FFF;
}

.logo {
    color: #FFF;
}

.logo-menu {
    color: #FFF;
    padding-left: 160px;
}

.footer-container {
    padding: 0 160px;
}

.pg100px {
    padding-top: 100px;
}

.pg50px {
    padding-top: 50px;
}

.left {
    margin-left: 60px;
}

.imgcont {
    max-width: 100%;
    height: 250px;
    width: 450px;
    border-radius: 5px;
}

.sombra {
    -webkit-box-shadow: 2px 5px 10px 3px rgba(0, 0, 0, 0.400);
    box-shadow: 2px 5px 10px 3px rgba(0, 0, 0, 0.400);
    margin: 0px;
    padding-bottom: 4px;
    border-radius: 5px;
}

.espaco {
    padding-top: 30px;
}

.blue {
    color: white;
    background-color: #061935;
}


.divis {
    margin-top: 10px;
    margin-bottom: 5px;
    width: 200px;
    color: white;
    text-decoration: none;
}

a {
    display: block;
}

h2 {
    padding-top: 10px;
    font-weight: bold;
}

.sized {
    font-size: 24px;
    font-weight: bold;
}